!pip install pandasql

In [50]:
import numpy as np
import pandas as pd
import pandasql as ps

In [51]:
df_Buyer = pd.DataFrame({'BuyerCode': [1, 2], 'MaxP': [6, 8], 'ExpP': [5, 5]})

In [52]:
df_Seller = pd.DataFrame({'SellerCode': [1, 2], 'MinP': [4, 2], 'ExpP': [5, 5]})
df_Seller

   SellerCode  MinP  ExpP
0           1     4     5
1           2     2     5

In [53]:
df_Seller = df_Seller.sample(frac = 1)
df_Seller.reset_index(drop = True)

   SellerCode  MinP  ExpP
0           2     2     5
1           1     4     5